In [69]:
import pyodbc

server = 'mcruebs04.isad.isadroot.ex.ac.uk'
database = 'BEMM459_GroupA'
username = 'GroupA'
password = 'DzaJ684+Yp'

# Driver for own machine.  Comment out when on windows machine.
#serverstring = 'DRIVER={/opt/homebrew/cellar/msodbcsql18/18.1.2.1/lib/libmsodbcsql.18.dylib};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password+';TrustServerCertificate=yes;Encrypt=no;'

# print(serverstring)

#cnxn = pyodbc.connect(serverstring)

cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password+';TrustServerCertificate=yes;Encrypt=no;')

cursor = cnxn.cursor()

print('Reading data from table')

Reading data from table

In [70]:
def create_new_membership():
    try:
        # SQL command to create the membership table
        create_new_membership = '''
        INSERT INTO membership (membership_id, customer_id)
        VALUES
            ('MD12034', 'C00000031');
        '''
        cursor.execute(create_new_membership)
        cnxn.commit()
        print("Additional Memberships created successfully!")

    except Exception as e:
        print("Error creating membership:", e)

# Call the function to create the table
create_new_membership()

Additional Memberships created successfully!

In [71]:
# READ operation
def read_cart():
    try:
        cursor.execute("WITH data_table AS (SELECT t1.customer_id, DATEDIFF(HOUR, t2.created_time, GETDATE()) AS time_since_created FROM customer t1 LEFT JOIN cart t2 ON t1.customer_id = t2.customer_id) SELECT * FROM data_table WHERE time_since_created >= 24 ORDER BY time_since_created ASC;")

        rows = cursor.fetchall()
        print("Cart Notification:")
        for row in rows:
            print(row)
    except Exception as e:
        print("Error reading cart:", e)
read_cart()

Cart Notification:
('C00000021', 1525)
('C00000027', 1525)
('C00000024', 1549)
('C00000024', 1549)
('C00000024', 1549)
('C00000024', 1549)
('C00000013', 1549)
('C00000013', 1549)
('C00000024', 1573)
('C00000040', 1573)
('C00000038', 1597)
('C00000038', 1597)
('C00000038', 1645)
('C00000002', 1645)
('C00000022', 1645)
('C00000014', 1669)
('C00000014', 1693)
('C00000014', 1693)
('C00000023', 1717)
('C00000026', 1717)
('C00000002', 1717)
('C00000026', 1741)
('C00000037', 1741)
('C00000023', 1741)
('C00000021', 1741)
('C00000037', 1765)
('C00000041', 1813)
('C00000041', 1837)
('C00000037', 1861)
('C00000024', 1861)
('C00000042', 1885)
('C00000042', 1885)
('C00000040', 1885)
('C00000045', 1885)
('C00000045', 1885)
('C00000040', 1909)
('C00000030', 1933)
('C00000030', 1933)
('C00000036', 1981)
('C00000001', 1981)
('C00000046', 1981)
('C00000041', 2005)
('C00000041', 2005)
('C00000001', 2005)
('C00000044', 2029)
('C00000044', 2029)
('C00000039', 2053)
('C00000039', 2077)
('C00000004', 2077)
('C00000042', 2077)

In [72]:
def read_cashback_amounts(cursor):
    try:
        # SQL query to read cashback amounts
        query = '''
        SELECT
            customer_id,
            SUM(cashback_amount) as total_cashback
        FROM
            cashback
        GROUP BY
            customer_id
        ORDER BY
            total_cashback DESC;
        '''
        cursor.execute(query)
        rows = cursor.fetchmany(3)  # Fetch only the first three rows
        for row in rows:
            print(row)
    except Exception as e:
        print("Error reading cashback amounts:", e)

read_cashback_amounts(cursor)

('C00000024', Decimal('19.71'))
('C00000038', Decimal('7.43'))
('C00000023', Decimal('6.07'))

In [73]:
def update_order_item(order_items):
    try:
        for order_item in order_items:
            order_item_id, new_quantity = order_item[0], order_item[1]
            cursor.execute("UPDATE order_item SET quantity = ? WHERE order_item_id = ?", (new_quantity, order_item_id))
        cnxn.commit()
        print("Order Item updated successfully!")
    except Exception as e:
        cnxn.rollback()
        print("Error updating order item:", e)

# Example usage:
order_items = [
    ('OI1001', 11),
    ('OI1002', 12),
    ('OI1003', 13)
]

update_order_item(order_items)

Order Item updated successfully!

In [74]:
def read_order_item(order_item_id):
    try:
        cursor.execute("SELECT * FROM order_item WHERE order_item_id = ?", (order_item_id,))
        result = cursor.fetchone()
        if result:
            print("Order Item found:")
            print("Order Item ID:", result[0])
            print("Quantity:", result[1])
            print("Price:", result[2])
            # Add more fields as needed
        else:
            print("Order Item not found.")
    except Exception as e:
        print("Error reading order item:", e)

# Example usage:
order_item_id = 'OI1001'
read_order_item(order_item_id)

Order Item found:
Order Item ID: OI1001
Quantity: 11
Price: 5.67

In [75]:
def delete_promotion(product_id, campaign_code):
    try:
        cursor.execute("DELETE FROM promotion WHERE product_id = ? AND campaign_code = ?", (product_id, campaign_code))
        cnxn.commit()
        print("Promotion deleted successfully!")
    except Exception as e:
        cnxn.rollback()
        print("Error deleting promotion:", e)

# Example usage:
product_id = 'PD7209'
campaign_code = 'EASTER20'

delete_promotion(product_id, campaign_code)

Promotion deleted successfully!

In [76]:
def read_promotion():
    try:
        cursor.execute("SELECT * FROM promotion WHERE product_id ='PD7209' ")
        rows = cursor.fetchall()
        print("Promotion table:")
        for row in rows:
            print(row)
    except Exception as e:
        print("Error reading cart:", e)
read_promotion()

Promotion table: